@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
button{
  background-color: #5b3e31;
  border-radius: 5px;
  border: none;
  color: white;
}
button:hover{
  color: black;
  background-color: #f2ede0;
}
header{
  position: fixed;
  width: 100%;
  min-height: 72px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #A48D78; */
  background-color: #5b3e31;
  color: white;
  z-index: 3;
}
.header__content{
  position: relative;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}
.header__content-logo{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  img{
    width: 35px;
    height: 35px;
    color: white;
  }
  p{
    font-size: 1.5rem;
    font-family: "Leckerli One", cursive;
    font-weight: 700;
    a{
      color: #f2ede0;
    }
  }
}
.header__menu-items{
  display: flex;
  gap: 4rem;
  li{
    cursor: pointer;
    border-bottom: 3px solid #5b3e31;
    transition: 0.3s;
    a{
      color: #f2ede0;
    }
  }
  li:hover{
    border-bottom: 3px solid #f2ede0;
  }
}

/* hover */
main{
  margin-top: 72px;
}
#home__cover{
  position: relative;
  height: 400px;
}
.home__cover-wrap{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__cover-text{
  position: absolute;
  z-index: 2;
  color: #f2ede0;
  h1, p{
    text-align: center;
  }
  h1{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p{
    font-size: 1.4rem;
    font-weight: 600;
  }
}
.home__cover-poster{
  width: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url('https://i.pinimg.com/1200x/03/a3/70/03a370a93b429a30451122ab436f25a2.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

#home__container{
  margin: 100px 0;
  padding: 40px 0;
  p{
    text-align: center;
    color: rgb(59, 59, 59);
  }
}
.home__title{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.home__container-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  gap: 25px;
}
.home__container-card{
  padding: 30px;
  background-color: #f2ede0;
  border: 1px solid #5b3e31;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0 8px 0;
  }
}
.home__card-poster{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #c1a699;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  img{
    width: 30px;
  }
}


.home__cards-item{
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  color: white;
  transition: 0.3s;
  h4{
    font-size: 1.1rem;
  }
}
.home__cards-item:hover{
  background-size: 120%;
  box-shadow: 5px 5px 5px rgb(207, 207, 207);
}

.home__recipe{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home__recipe-rating{
  img{
    width: 20px;
  }
}
.home__container-recipes{
  display: flex;
  width: 80%;
  margin: 30px auto;
  gap: 20px;
}
.home__recipe-poster{
  width: 100%;
  img{
    width: 100%;
    background-size: cover;
  }
}
.home__recipe-difficulty{
  width: 100%;
  height: 35px;
}


/* footer */
footer{
  height: 300px;
  background-color: #5b3e31;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
  p{
    width: 85%;
    text-align: center;
    line-height: 1.3rem;
  }
  button{
    width: 120px;
    height: 30px;
    background-color: #f2ede0;
    color: #5b3e31;
  }
  button:hover{
    color: #f2ede0;
    background-color: black;
  }
}

/* cxreate */
.createRecipe_content, .recipes__content{
  min-height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.createRecipe_content-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  text-align: center;
}

.recipe__card{
  border: 1px solid #5b3e31;
  border-radius: 10px;
  padding: 20px;
  background: #f2ede0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 500px; */
}
#recipe-list{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin: 100px auto;
}
#star{
  width: 20px;
}
.recipe__card-center{
  display: flex;
  gap: 5px;
  align-items: center;
}
#error{
  text-align: center;
}
#flex{
  display: flex;
  gap: 20px;
  align-items: center;
}
.name{
  font-size: 1.2rem;
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
}
#favourite{
  width: 30px;
}
#food{
  width: 100px;
}
input{
  width: 250px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
}
textarea{
  width: 260px;
  height: 60px;
}
select{
  width: 260px;
  height: 30px;
}
#flex-start{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}